*~
*.log
*.o
*.so
*.mat
config.status
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
Makefile.conf
configure.lineno
bfdada.gpr
bfdada-tests.xml
autom4te.cache
*.txt
bin/
lib/
obj/
src/bfd-constants.ads
src/config.h
regtests/results
bfdada.cov
cover/
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
