*~
*.log
*.o
*.so
*.mat
config.status
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
Makefile.conf
configure.lineno
bfdada.gpr
bfdada-tests.xml
autom4te.cache
*.txt
bin/
lib/
obj/
distrib/bfdada.gpr
src/bfd-constants.ads
src/config.h
regtests/result
