Source: libada-bfd
Priority: extra
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, gnat, gnat-4.6, binutils-dev (>= 2.22)
Standards-Version: 3.9.2
Section: libdevel
Homepage: http://code.google.com/p/ada-bfd/

Package: libada-bfd1.0-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libada-bfd1.0 (= ${binary:Version}), gnat, gnat-4.6, binutils-dev (>= 2.22)
Description: Ada BFD Library
 The Ada-BFD is a library which provides Ada API for GNU Binutils BFD
 library.  This package contains the Ada development files and it allows
 to build Ada applications that use the Ada BFD Library.
 The recommended version for GNU Binutils is at least the 2.22.

