TABLE.title {
  background-color: #ccccff
}

TABLE.footer {
  background-color: #ccccff
}

A { 
  color: #0000ee;
  text-decoration: underline
}

TD.type {
  background-color: #eeeeff
}

TD.odd {
  background-color: #ddddff
}

TD.even {
  background-color: #CCEEFF
}

TD.code {
  background-color: #EEEEEE
}

DIV {
  margin-left: 30; margin-top: 2; margin-bottom: 4;
}

PRE { 
  margin-left: 10
}

SPAN.comment {
  font-size: smaller;
  color: black
}

SPAN.literal {
  color: green
}

SPAN.definition {
  color: #0000ee
}

H3.subtitle {
  background-color: #ccccff
}
